{% load static %}



<div class="tape">
        <ul class="list-group">
            <li class="list-group-item text-left mb-2 main_question">
                <div class="one_question">
                    <div class="color_question">
                        <img class="ava_question" src="{% static 'images/1.jpg'%}"  alt="ooops">
                        <div>{{ question.author }}</div>
                        <div>{{ question.create_date }}</div>
                        <div>{{ question.rating }}
                            <button class="like">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </button>
                            <button class="dislike">
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="header_question">
                        <div class="btn btn-lg btn-block btn-default rounded-0" >{{ question.header }}</div>
                        <div class="body_question">{{ question.body_quest }}</div>
                    </div>

                </div>
                <div class="question_tags">
                    <label>Tags: </label>
                    {% for t in question.tags.all %}

                        <a href="#" class="tags_style">  {{ t }}</a>

                    {% endfor %}
                </div>
            <div class="best_members_topic"><a  href="/question/{{ question.id }}" >{{ question.total_answers }} answers</a></div>
            </li>
        </ul>
    </div>



