{% load static %}



<div class="tape">
        <ul class="list-group">
            <li class="list-group-item text-left mb-2 main_question">
                <div class="one_question">
                    <div class="color_question">
                        <img class="ava_question" src="{% static 'images/1.jpg'%}"  alt="ooops">
                        <div>{{ question.author }}</div>
                        <div><h6>{{ question.create_date }}</h6></div>
                        <div><h6>{{ question.total_likes }}</h6>
                            <button class="like">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </button>
                            <button class="dislike">
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="header_question">
                        <a  href="{% url 'question'  question.id %}" ><div class="btn btn-lg btn-block btn-default rounded-0 btn-dark" >{{ question.header }}</div></a>
                        <div class="body_question">{{ question.body_quest }}</div>
                        <div class="question_tags">
                    <label>Tags: </label>
                    {% for t in question.tags.all %}

                        <a href="{% url 'tag' t.id %}" class="tags_style">  {{ t }}</a>

                    {% endfor %}
                </div>
            <div class="best_members_topic">{{ question.total_answers }} answers</div>
                    </div>

                </div>
            </li>
        </ul>
    </div>



