{% load static %}

<div class="tape">
        <ul class="list-group">
            <li class="list-group-item text-left mb-2 main_question">
                <div class="one_question">
                    <div class="color_question">
                        <img class="ava_question" src="{% static 'images/1.jpg'%}"  alt="ooops">
                        <div>{{ questions.author }}</div>
                        <div>{{ questions.create_date }}</div>
                        <div>{{ questions.rating }}
                            <button class="like">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </button>
                            <button class="dislike">
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="header_question">
                        <div class="btn btn-lg btn-block btn-default rounded-0" >{{ questions.header }}</div>
                        <div class="body_question">{{ questions.body_quest }}</div>
                    </div>

                </div>
                <div class="question_tags">
                    <label>Tags: </label>
                    {% for t in tags %}
                        {#                                {% if t in q.tag %}#}
                        <a href="#" class="tags_style">  {{ t }}</a>
                        {#                                {% endif %}#}
                    {% endfor %}
                </div>
            </li>

        </ul>
    </div>
    <div class="tape_answer">

            {% for answ in answers %}
        <ul class="list-group list-group-itemp-info">
            <li class="list-group-item text-left mb-2">
                <div class="one_answer ">
                    <div class="color_question">
                        <img class="ava_question" src="{% static 'images/1.jpg'%}"  alt="ooops">
                        <div>{{ answ.author }}</div>
                        <div>{{ answ.create_date }}</div>
                        <div>{{ answ.rating }}
                            <button class="like">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </button>
                            <button class="dislike">
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="header_question">
                        <div class="body_question">{{ answ.body_answer }}</div>
                    </div>
                </div>
                <div class="form-check check_box">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Correct!</label>
                </div>
            </li>

        </ul>
                {% endfor %}
    </div>

    <form method="POST" action={% url 'question' questions.id %}>
            {%  csrf_token%}
            <div class="form-group row mb-2">
                <div class="col-lg-12">
                    <textarea placeholder="Enter your answer here..." rows="6" style="resize: none; width: 100%" name="text" id="question" ></textarea>
                </div>
            </div>
            <div class="col ask_me_btn">
        <button class="btn btn-outline-dark my-2 my-sm-2 btn-light" id="question" type="submit">answer</button>
    </div>
        </form>

