


div.select_questions {
    display: flex;
    text-align: center;
}

.tape{
    margin-top: 10px;
}

.one_question{
    display: inline-flex;
    width: 100%;
}

.header_question{
    width: 100%;
}

.body_question{
    margin-left: 20px;
    margin-right: 20px;
        overflow: auto;
    margin-top: 5px;
    max-height: 186px;

}

.ava_question{
    width : 110px;
    height : 110px;
    padding-top: 8px;

}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #4f4f4f;
    border-color: white;
}

.ask_me{
    display: flex;
    justify-content: center;
}

.ava_navbar{
    position: relative;
    width : 80px;
    height : 80px;
    margin-right: 8px;
}

/*.color_question{*/
/*    background-color: #343a40;*/
/*    color: white;*/
/*    padding-right: 5px;*/
/*    padding-left: 5px;*/
/*}*/

button.like{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}

.header_question_text{
    text-align: center;
}