
.tape{
    margin-top: 0;
}


.one_answer{
     display: inline-flex;
    width: 100%;
    max-height: 220px;
}

.body_question{
    max-height: 100%;
}

.main_question{
    border-width: 5px;
    border-color: #343a40;
}

.check_box{
    text-align: right;
    padding-top: 10px;
    float: right;
}

.header_question {
    width: 100%;
    display: grid;
}