{% extends 'catalog/base.html' %}
{% load static %}

{% block page_name %}
    ask_margot
{% endblock %}

{% block page_style %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block header %}
    {% if request.user.is_anonymous  %}
        <div class="col ask_me">
            <a href={% url 'registration' %}><button class="btn btn-outline-dark my-2 my-sm-2 btn-light"  type="submit">ASK ME</button></a>
        </div>
    {% else %}
        <div class="col ask_me">
            <a href={% url 'ask' %}><button class="btn btn-outline-dark my-2 my-sm-2 btn-light"  type="submit">ASK ME</button></a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% if error %}
        <div class="alert alert-info"><H4>{{ error }}</H4></div>
    {% else %}

        <div class="select_questions collapse-toggle">
        <div class="btn_sort_question">
            <a class="links" href={% url 'ask_margot' %}><button class="col btn btn-lg btn-dark btn-primary rounded-0 font-italic">New questions</button></a>
            </div>
            <div class="btn_sort_question">
            <a class="links" href="?answered"><button class="col btn btn-lg btn-dark btn-primary rounded-0 font-italic">Popular questions</button></a>
            </div>
        </div>
        <div class="tape">
            {% for q in questions %}
                {% include "../inc/question.html" with question=q %}
            {% endfor %}
        {% if questions %}
            {% include "../inc/pagination.html" with page=questions %}
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
