{% extends 'catalog/base.html' %}
{% load static %}

{% block page_name %}
    ask_margot
{% endblock %}

{% block page_style %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block header %}
    {% if request.user.is_anonymous  %}
        <div class="col ask_me">
            <a href="{% url 'registration' %}"><button class="btn btn-outline-dark my-2 my-sm-2 btn-light"  type="submit">ASK ME</button></a>
        </div>
    {% else %}
        <div class="col ask_me">
            <a href="{% url 'ask' %}"><button class="btn btn-outline-dark my-2 my-sm-2 btn-light"  type="submit">ASK ME</button></a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="select_questions row collapse-toggle">
        <button class="col btn btn-lg btn-dark btn-primary rounded-0"><a href={% url 'ask_margot'  %}>New questions</a></button>
        <button class="col btn btn-lg btn-dark btn-primary rounded-0"><a href={% url 'ask_margot'  %}>Best questions</a></button>
    </div>
    <div class="tape">
        {% for q in questions %}
            <ul class="list-group">
                <li class="list-group-item text-left mb-2">
                    <div class="one_question">
                        <div class="color_question">
                            <img class="ava_question" src="{% static 'images/1.jpg'%}"  alt="ooops">
                            <div>{{ q.author }}</div>
                            <div>{{ q.create_date }}</div>
                            {#                            <div>{{ q.rating }}#}
                            {#                                <button class="like">#}
                            {#                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>#}
                            {#                                </button>#}
                            {#                                <button class="dislike">#}
                            {#                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>#}
                            {#                                </button>#}
                            {#                            </div>#}
                            <ul>
                                <li data-id="{{ q.id }}" data-type="question" data-action="like" title="Нравится">
                                    <span class="fa fa-thumbs-o-up"></span>
                                    <span data-count="like">{{ q.votes.likes.count }}</span>
                                </li>
                                <li data-id="{{ q.id }}" data-type="question" data-action="dislike" title="Не нравится">
                                    <span class="fa fa-thumbs-o-down"></span>
                                    <span data-count="dislike">{{ q.votes.dislikes.count }}</span>
                                </li>
                            </ul>
                        </div>

                        <div class="header_question">
                            <div class="header_question_text"><H4>{{ q.header }}</H4></div>
                            <div class="body_question">{{ q.body_quest }}</div>
                        </div>
                        <div class="color_question">
                            {% for tag in q.tag.all %}
                                {#                                {% if t in q.tag %}#}
                                <div><a href="#">  {{ tag }}</a></div>
                                {#                                {% endif %}#}
                            {% endfor %}

                        </div>

                    </div>
                    <div class="best_members_topic"><a  href="/question/{{ q.id }}" >answers</a></div>
                </li>
            </ul>
        {% endfor %}
    </div>
    {% if questions %}
        {% include "../inc/pagination.html" with page=questions %}
    {% endif %}
{% endblock %}
