{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_name %}
    ask_margot_question
{% endblock %}

{% block page_style %}
{##}
{#    <link rel="stylesheet" href="{% static 'css/index.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}

{% block header %}
    {% if request.user.is_anonymous  %}
        <div class="col ask_me">
            <a href={% url 'registration' %}><button class="btn btn-outline-dark my-2 my-sm-2 btn-light"  type="submit">ASK ME</button></a>
        </div>
    {% else %}
        <div class="col ask_me">
            <a href={% url 'ask' %}><button class="btn btn-outline-dark my-2 my-sm-2 btn-light"  type="submit">ASK ME</button></a>
        </div>
    {% endif %}
{% endblock %}



{% block content %}
    {% include '../inc/question.html' %}
    <div class="tape_answer">
            {% for answ in answers %}
        <ul class="list-group list-group-itemp-info">
            <li class="list-group-item text-left mb-2">
                <div class="one_answer ">
                    <div class="color_question">
                        <img class="ava_question" src="{% static 'images/1.jpg'%}"  alt="ooops">
                        <div>{{ answ.author }}</div>
                        <div>{{ answ.create_date }}</div>
                        <div>
                            <button type="submit"
                                            data-object="answer"
                                            data-action="up-vote"
                                            data-user="{{ user.id }}"
                                            data-id="{{ answ.id }}"
                                            class="btn btn-light vote">
                                        <i class="fa fa-chevron-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" id="vote{{ answ.id }}answer" disabled>
                                {% if answ.total_likes == -1 %}
                                    0
                                {% else %}
                                    {{ answ.total_likes }}
                                {% endif %}
                            </button>
                            <button type="submit"
                                    data-object="answer"
                                    data-action="down-vote"
                                    data-user="{{ user.id }}"
                                    data-id="{{ answ.id }}"
                                    class="btn btn-light vote">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </div>
                    </div>

                    <div class="header_question">
                        <div class="body_question">{{ answ.body_answer }}</div>
                    </div>
                </div>
                <div class="form-check check_box">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Correct!</label>
                </div>
            </li>

        </ul>
                {% endfor %}
    </div>

    {% if user.is_authenticated  %}
    <form method="POST" action={% url 'question' question.id %}>
            {%  csrf_token %}
            <div class="form-group row mb-2">
                <div class="col-lg-12">
                   {{ form|crispy }}
                </div>
            </div>
            <div class="col ask_me_btn">
        <button class="btn btn-outline-dark my-2 my-sm-2 btn-light" id="question" type="submit">answer</button>
    </div>
        </form>
    {% endif %}
    {% include "../inc/pagination.html" with page=answers %}
{% endblock content %}

{% block javascript %}
     {% if  user.is_authenticated %}
            <script type="text/javascript" src="{% static "js/LikeDislike.js" %}"></script>
     {% endif %}
{% endblock javascript%}