{% extends 'catalog/base.html' %}
{% load static %}

{% block page_name %}
    ask_margot_question
{% endblock %}

{% block page_style %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}

{% block header %}
    {% if request.user.is_anonymous  %}
        <div class="col ask_me">
            <a href={% url 'registration' %}><button class="btn btn-outline-dark my-2 my-sm-2 btn-light"  type="submit">ASK ME</button></a>
        </div>
    {% else %}
        <div class="col ask_me">
            <a href={% url 'ask' %}><button class="btn btn-outline-dark my-2 my-sm-2 btn-light"  type="submit">ASK ME</button></a>
        </div>
    {% endif %}
{% endblock %}



{% block content %}
    {% include '../inc/question.html' %}
    {% include "../inc/pagination.html" with page=answers %}
{% endblock content %}